<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

	<center>
	<h1> Let's Talk! </h1>
</center>

<body>
	<center>
	<frame>
	{%for getmsg in getmsg%}
		<p1>{{getmsg}}<p1><br><br>
	{%endfor%}

		</frame>
<br></br>
<form action="" method="POST">
	{% csrf_token %}
	{{chatform.as_p}}
	<input type="submit" value="Send">
</form> 
<script>
	var socket = new WebSocket('ws://localhost:8000/chat/');

	socket.onmessage = function(event){
		var data = JSON.parse(event.data);
		console.log(data);
		document.querySelector('#app').innerText = data.msg;
	}

</script>
</center>

</body>
</html>